<!DOCTYPE html>
{%load static%}
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}  {%endblock%}</title>
    <style>{%block style%}   {%endblock%}</style>
    {%include 'solutionapp/common/common_css.html'%}

</head>
<body  style="background-color: rgb(100, 169, 230);">
    <!-- navbar start -->
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <!-- <a class="navbar-brand" href="#"><img src="{% static 'solutionapp/images/favicon.png'%}" style="height: 60px;width: 80px;"></a> -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{'/'}}"><i style='font-size:24px' class='fas'>&#xf015;</i></a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                  Profile
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{'/user_home/'}}">View</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{{'/user_edit_profile/'}}">Update</a></li>
                  
                 
                </ul>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="{{'/user_feedback/'}}">Feedback</a>
              </li> -->
              
              <li class="nav-item">
                <a class="nav-link" href="{{'/user_logout/'}}">Logout</a>
              </li>
              
              
            </ul>
            
          </div>
        </div>
      </nav>
    
    
      <style>
        .nav-link{
          color: aliceblue;
          font-size: 1.2rem;
          font-family: 'Courier New', Courier, monospace;
        }
      </style>
    <!-- navbar end -->
    
    {%block content%}
    
    {%endblock%}

<script src="{% static 'solutionapp/js/validation.js'%}"></script>
    {%include 'solutionapp/common/common_js.html'%}
</body>
</html>