{% extends "solutionapp/html/base.html"%}
{%load static%}
{%block title%}Feedback{%endblock%}


{%block content%}
{% if messages%}

{%for m in messages%}

<div class="container" style="width: 60%;text-align: center;" >
<div class="alert alert-dark alert-dismissible fade show" role="alert">
    <strong>{{m}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

{%endfor%}

{%endif%}
<form class="needs-validation"   method="POST" action="/feedback/"  novalidate>
    {%csrf_token%} 
    <div class="row justify-content-center">
    <div class="col-5" style="margin: 2%; padding: 2%;border-radius: 2%;border: 2px solid black;">
        <h1 style="text-align: center;margin-bottom: 2%;color: black;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">FEEDBACK</h1>
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="username" class="form-control" placeholder="Enter your name" required>
        <div class="invalid-feedback">
            Please enter your name 
        </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="useremail" class="form-control" placeholder="Enter your email" required>
        <div class="invalid-feedback">
            Please enter your email 
        </div>
        </div>
        
        <div class="mb-3">
            <label for="address" class="form-label">Feedback</label>
            <textarea name="userfeedback" class="form-control" placeholder="Please give your feedback" required></textarea>
        <div class="invalid-feedback">
            Please enter your feedback 
        </div>
        </div>
        
        <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
          <select class="form-select" aria-label="Default select example" name="userrating">
            <option selected> Select rating</option>
            <option value="1">*</option>
            <option value="2">**</option>
            <option value="3">***</option>
            <option value="4">****</option>
            <option value="5">*****</option>
          </select>
        </div>
        <div class="text-center">
            <button class="btn btn-primary"> Submit</button> 

        </div>



        
    </div>
</div>
</form>
<style>
    body{
            background-image: url("{%static 'solutionapp/images/back5.webp'%}");
            background-repeat: no-repeat;
            background-size: cover;
        }
    
    .form-label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:black;
    font-size: 1.1rem;
    font-weight: 500;
}

</style> 
{%endblock%}